.button {
  padding: 1.4rem 2.4rem 1.5rem;
  border: none;
  outline: none;
  color: white;
  background-color: var(--clr-primary-600);
  font-size: var(--heading-m-fs);
  line-height: var(--heading-m-lh);
  border-radius: 2.4rem;
  text-align: center;
  cursor: pointer;
}