/* Variables */
.main {
  --animationDurationOnSideOpen: 0.3s;
  --animationDurationOnSideClose: 0.5s;

  --mainPadding: 2.4rem;
  --emptyBoardHeight: calc(
    100vh - var(--header-height) - 2 * var(--mainPadding)
  );
}

.main {
  padding: var(--mainPadding);
  overflow-x: auto;
  height: calc(100vh - var(--header-height));
  animation: moveBodyBack var(--animationDurationOnSideClose) ease forwards;
}

.main.sideOpen {
  animation: moveBodyOnSideOpen var(--animationDurationOnSideOpen) ease forwards;
}

.emptyBoardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: var(--emptyBoardHeight);
  justify-content: center;
  gap: 3.2rem;
}

.emptyText {
  color: var(--clr-gray-600);
  font-weight: 700;
  font-size: var(--heading-l-fs);
  line-height: var(--heading-l-lh);
}

@keyframes moveBodyOnSideOpen {
  from {
    transform: translateX(0);
    width: 100%;
  }

  to {
    width: calc(100% - 30rem);
    transform: translateX(30rem);
  }
}

@keyframes moveBodyBack {
  from {
    width: calc(100% - 30rem);
    transform: translateX(30rem);
  }

  to {
    transform: translateX(0);
    width: 100%;
  }
}

/* Mobile Version */
@media screen and (max-width: 700px) {
  .main {
    animation: none;
  }

  .main.sideOpen {
    animation: none;
  }
}
