.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.closeBtn {
  cursor: pointer;
}

.emptyInput input {
  border-color: var(--clr-accent-600);
}

.emptyInput::before {
  content: "Can't be empty";
  position: absolute;
  right: 4.7rem;
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-weight: 500;
  color: var(--clr-accent-600);
}

.emptyInput path {
  fill: var(--clr-accent-600);
}

.emptyInput input:hover {
  border-color: var(--clr-accent-600);
}

.notEmptyInput input:hover {
  border-color: var(--clr-primary-600);
}
