/* Variables */
.modalWrapper {
  --title-fs: var(--heading-l-fs);
  --title-lh: var(--heading-l-lh);
  --title-font-clr: var(--clr-dark-600);
  --title-delete-clr: var(--clr-accent-600);

  --body-fs: var(--body-l-fs);
  --body-lh: var(--body-l-lh);
  --body-fw: var(--body-l-fw);
  --body-font-clr: var(--clr-dark-600);

  --subTitle-fs: var(--body-m-fs);
  --subTitle-lh: var(--body-m-lh);
  --subTitle-fw: var(--body-m-fw);
  --subTitle-font-clr: var(--clr-gray-600);

  --placeHolder-opacity: 0.4;

  --btn-padding: 0.8rem 0 0.9rem 0;
  --btn-border-radius: 2rem;

  --btn-primary-bg-clr: var(--clr-primary-600);
  --btn-primary-font-clr: white;

  --btn-secondary-bg-clr: rgba(99, 95, 199, 0.1);
  --btn-secondary-font-clr: var(--clr-primary-600);
}

.modalWrapper {
  position: absolute;
  inset: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  padding: 3.2rem;
  background-color: #fff;
  border-radius: 6px;
  width: 100%;
  max-width: 48rem;
}

.modalWrapper :global(.title) {
  font-size: var(--title-fs);
  line-height: var(--title-lh);
  color: var(--title-font-clr);
  margin-bottom: 2.4rem;
}

.modalWrapper :global(.subTitle) {
  display: block;
  margin-bottom: 8px;
  font-size: var(--subTitle-fs);
  font-weight: var(--subTitle-fw);
  line-height: var(--subTitle-lh);
  color: var(--subTitle-font-clr);
}

.modalWrapper button {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  padding: var(--btn-padding);
  border-radius: var(--btn-border-radius);
  cursor: pointer;
  font-size: var(--body-fs);
  line-height: var(--body-lh);
  font-weight: 700;
}

.modalWrapper :global(.secondary) {
  margin-bottom: 2.4rem;
}

.modalWrapper :global(.primary) {
  color: var(--btn-primary-font-clr);
  background-color: var(--btn-primary-bg-clr);
}

.modalWrapper :global(.secondary) {
  color: var(--btn-secondary-font-clr);
  background-color: var(--btn-secondary-bg-clr);
}

.modalWrapper input {
  display: block;
  padding: 0.7rem 1.6rem 0.8rem;
  border: 1px solid rgba(130, 143, 163, 0.25);
  border-radius: 4px;
  outline: none;
  font-size: var(--body-fs);
  line-height: var(--body-lh);
  color: var(--clr-dark-600);
  font-weight: 500;
  width: 100%;
}

.modalWrapper :global(.inputWrapper) {
  margin-bottom: 2.4rem;
}

.modalWrapper :global(.columnsWrapper) {
  margin-bottom: 1.2rem;
}

.modalWrapper :global(.columns) {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.modalWrapper input::placeholder {
  opacity: var(--placeHolder-opacity);
  color: var(--clr-dark-600);
}

.modalWrapper textarea {
  display: block;
  width: 100%;
  padding: 0.8rem 1.6rem;
  font-size: var(--body-l-fs);
  line-height: var(--body-l-lh);
  font-weight: 500;
  color: var(--clr-dark-600);
  outline: none;
  border: 1px solid rgba(130, 143, 163, 0.25);
  border-radius: 4px;
  resize: none;
}

.modalWrapper textarea::placeholder {
  color: black;
  opacity: 0.25;
}

/* ViewTask */

.modalWrapper :global(.description) {
  font-size: var(--body-l-fs);
  line-height: var(--body-l-lh);
  font-weight: var(--body-l-fw);
  color: var(--clr-gray-600);
  margin-bottom: 2.4rem;
}

.modalWrapper :global(.subtasksWrapper) {
  margin-bottom: 2.4rem;
}

.modalWrapper :global(.viewTaskHeader) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}

.modalWrapper :global(.viewTaskHeader .title) {
  margin-bottom: 0;
}

.modalWrapper :global(.viewTaskHeader) h3 {
  max-width: 38.7rem;
}

.modalWrapper :global(.subtasks) {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* DeleteModal */

.modalWrapper :global(.delete) {
}

.modalWrapper :global(.delete .title) {
  color: var(--clr-accent-600);
}

.modalWrapper :global(.deleteBtnsWrapper) {
  display: flex;
  gap: 1.6rem;
}

.modalWrapper :global(.deleteBtnsWrapper .primary) {
  background-color: var(--clr-accent-600);
}

.modalWrapper :global(.deleteBtnsWrapper button) {
  margin: 0;
}
