.wrapper {
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 1.6rem;
  padding: 1.6rem;
  box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
  border-radius: 8px;
  z-index: 10;
  width: 19.2rem;
  background-color: #fff;
}

.posForBoard {
  right: 0;
  top: 5rem;
}

.posForTask {
  right: 0;
  transform: translateX(50%);
  top: calc(2.2rem + 50%);
}

.wrapper.isOpen {
  display: flex;
}

.wrapper p {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 2.3rem;
  cursor: pointer;
}

.edit {
  color: #828fa3;
}

.delete {
  color: #ea5555;
}
