.headerWrapper {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 9.7rem;
  transition: all 0.3s ease;
  /* overflow-x: hidden; */
}

.headerWrapper:before {
  content: "";
  position: absolute;
  height: 9.7rem;
  width: 1px;
  left: 20.9rem;
  background-color: var(--clr-gray-500);
}

.headerLogoWrapper {
  position: relative;
  margin-left: 2.4rem;
  margin-right: 3.2rem;
}

.headerMainWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 2.4rem;
  transition: all 0.3s ease;
}

.buttonHeaderWrapper {
  margin-left: auto;
  margin-right: 2.4rem;
}

.headerMenuLogoWrapper {
  position: relative;
  margin-right: 3.2rem;
  cursor: pointer;
}

.sideOpen.headerWrapper:before {
  display: none;
}

.headerMainWrapper h1 {
  transition: all 0.3s ease;
}

.sideOpen .headerMainWrapper h1 {
  transform: translateX(9.1rem);
}
