.toggleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  margin-left: 2.4rem;
  height: 4.8rem;
  max-width: 25.1rem;
  border-radius: 6px;
  background-color: var(--clr-gray-400);
}

.outer {
  position: relative;
  width: 4rem;
  height: 2rem;
  border-radius: 1.2rem;
  background-color: var(--clr-primary-600);
  cursor: pointer;
  user-select: none;
  transition: background-color .3s ease;
}

.outer:hover {
  background-color: var(--clr-primary-300);
}

.inner {
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  background-color: #fff;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  transition: left .3s ease;
}

.outer.dark .inner {
  left: 2.3rem;
}

@media screen and (max-width: 375px) {
  .toggleWrapper {
    max-width: 23.5rem;
    margin-left: 1.6rem;
  }
}