html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

textarea {
  overflow: auto;
}

:root {
  --clr-primary-600: #635fc7;
  --clr-primary-300: #a8a4ff;
  --clr-dark-600: #000112;
  --clr-dark-500: #20212c;
  --clr-dark-400: #2b2c37;
  --clr-dark-300: #3e3f4e;
  --clr-gray-600: #828fa3;
  --clr-gray-500: #e4ebfa;
  --clr-gray-400: #f4f7fd;
  --clr-white: #fff;
  --clr-accent-600: #ea5555;
  --clr-accent-400: #ff9898;

  --heading-xl-fs: 2.4rem;
  --heading-xl-lh: 3rem;
  --heading-l-fs: 1.8rem;
  --heading-l-lh: 2.3rem;
  --heading-m-fs: 1.5rem;
  --heading-m-lh: 1.9rem;
  --heading-s-fs: 1.2rem;
  --heading-s-lh: 1.5rem;
  --heading-s-ls: .24rem;

  --body-l-fs: 1.3rem;
  --body-l-lh: 2.3rem;
  --body-l-fw: 500;
  --body-m-fs: 1.2rem;
  --body-m-lh: 1.5rem;
  --body-m-fw: 700;
}
